*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#1DB954;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191414;
    width: 100%;
    height: 60px;
    padding: 0 20px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

#image-logo{
    width: 40px;
}

h2{
    color: white;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

li {
    display: inline;
}

a{
    color: white;
    text-decoration: none;
}

.main{
    display: flex;
}

.left-content{
    color: white;
    background-color: #191414;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    flex-direction: column;
    border-radius: 10px;
    width: 30%;
    height:400px;
}

.your-library{
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 50px;
}

.create-playlist{
    margin: 10px;
    background-color: #282525;
    border-radius: 10px;
    padding: 10px;
}

.links{
    display: flex;
    font-size: smaller;
    justify-content:space-evenly;
    color: white;
    width: 100%;
    height:100%;
    padding: 10px;
}


button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-top: 30px;
    margin-bottom: 10px;
}

.right-content{
    display: flex;
    flex-direction: column;
    background-color: #191414;
    width: 70%;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    scroll-behavior: smooth;
}

.Trending-song{
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 50px;
}

.music{
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    

}

.music-1, .music-2, .music-3, .music-4, .music-5{
    background-color:#282525;
    width: 150px;
    height: 210px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    
}



/* .play{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
} */

input[type="range"] {
  width: 100px;
  margin-bottom: 30px;
}

.play-button {
  margin-left: 8px;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

.playing {
  background-color: #1DB954;
  color: white;
}

#image{
    border-radius: 10px;
    width:130px;
    height: 100px;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color:#282525;
    width: auto;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    margin-top: 0px;
}

.credit{
    font-family: 'Courier New', Courier, monospace;
    color:#1DB954;
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: flex-start;
    margin-top: 10px;
}

.foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    width: 100%;
    height: 100px;
}